<!-- templates/products.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <a href="{% url 'api:product-create' %}" class="btn btn-primary">Add Product</a>
    <table border="1">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Category</th>
                <th>Tags</th>
                <th>In Stock</th>
                <th>Available Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.SKU }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.tags }}</td>
                <td>{{ product.in_stock }}</td>
                <td>{{ product.available_stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'api:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
